# UI
TODOMVC_URL=https://demo.playwright.dev/todomvc

# API
JSONPLACEHOLDER_URL=https://jsonplaceholder.typicode.com
SELENIUM_PRACTISE_URL=https://rahulshettyacademy.com/seleniumPractise/#/

# Auth
ADMIN_USERNAME=
ADMIN_PASSWORD=

# DB
DB_HOST=
DB_PORT=
